<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Orders Homepage</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if session.get('logged_in') %}
        <h1>Welcome, {{ session.get('username') }}!</h1>
        <h3><a href="/listUserOrders">Show My Orders</a></h3>

        {% if session.get('security_level') >= 2 %}
            <h3><a href="/newCustomer">Add New Customer</a></h3>
        {% endif %}

        <h3><a href="/newOrder">Add New Order</a></h3>

        {% if session.get('security_level') == 1 %}
            <h3><a href="/listCustomers">List Customers</a></h3>
        {% endif %}

        {% if session.get('security_level') == 2 %}
            <h3><a href="/listOrders">List Orders</a></h3>
        {% endif %}

        <br><h2><a href="/logout">Log out</a></h2>
    {% else %}
        <h2>Error: User is not logged in...</h2>
        <h3><a href="/logout">Log out</a></h3>
    {% endif %}
</body>
</html>