<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Customers</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h1>List of Customers</h1>

    <table border=3>
        <tr align="center">
            <td>Name</td>
            <td width=40>Age</td>
            <td>Phone Number</td>
            <td>Security Level</td>
            <td>Login Password</td>
        </tr>

        {% for entry in records %}
            <tr>
                <td>{{ entry['Name'] }}</td>
                <td>{{ entry['Age'] }}</td>
                <td>{{ entry['PhNum'] }}</td>
                <td>{{ entry['SecurityLevel'] }}</td>
                <td>{{ entry['LoginPassword'] }}</td>
            </tr>
        {% endfor %}
    </table>

    <h3><a href="/">Go back to homepage</a></h3>
</body>
</html>