<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a New Customer!</title>
</head>
<body>
    <h1>Add a New Customer!</h1>
    <br>

    <form action="newCustResult.html" method="POST">
      <b>Name:</b><br>
      <input type="text" name="Name">
      <br><br>

      <b>Age:</b><br>
      <input type="text" name="Age">
      <br><br>

      <b>Phone Number:</b><br>
      <input type="text" name="Number">
      <br><br>

      <b>Security Level:</b><br>
      <input type="text" name="SecurLevel">
      <br><br>

      <b>Login Password:</b><br>
      <input type="text" name="Password">
      <br><br>
    </form>

    <h3><a href="/">Go back to homepage</a></h3>
</body>
</html>