<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Customer Result</title>
</head>
<body>
    {% with flashes = get_flashed_messages() %}
        {% if flashes %}
            <ul>
            {% for flash_message in flashes %}
                <li>{{ flash_message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {{ message }}
    {% for error in errors_table %}
        <br>
        {{ error }}
    {% endfor %}
    <h3><a href="/">Go back to homepage</a></h3>
</body>
</html>